
/*
Primary Color (Orange): #fca311;
Secondary Color (Balck): #1f1f1f;
Background Color (White): #fafafa;

Text Color; Buttons (White): #1f1f1f;
Button Color (Orange); #fca311;
Title and Body Text Color (Balck): #1f1f1f;
Button Visited (Light orange): #ffca73
*/

body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #1f1f1f;
}

header {
  background-color: #1f1f1f;
  color: #fafafa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.5);
}

main {
  padding-top: 24px;
  padding-bottom: 24px;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  color: #fafafa;
  padding: 10px 0;
}

h1, h2, h3, h4 {
  line-height: 1.4em;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

h4 {
  font-size: 0.5em;
  font-weight: 600;
}

#hero {
  background-color: #fafafa;
  color: #1f1f1f;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: #fca311;
  text-decoration: none;
  background-color: #1f1f1f;
}

a:visited {
  color: #ffca73;
  background-color: #1f1f1f;
}

a:hover,
a:focus {
  color: #fafafa;
  background-color: #1f1f1f;
}

a:active {
  color: #ffca73;
  background-color: #1f1f1f;
}

.buttonrm {
  display: inline-block;
  background-color: #fca311;
  color: #1f1f1f;
  font-weight: 700;
  text-decoration: none;
  padding: 12px;
  transition: 0.2s opacity;
}

.buttonrm:hover {
  opacity: 0.8;
  text-decoration: none;
}

.buttonrm:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #fca311;
  color: #1f1f1f;
  font-weight: 700;
  text-decoration: none;
  padding: 12px;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #1f1f1f;
  color: #fafafa;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

.container-header {
  padding: 0 15px;
  width: 100%;
}

.tools {
  text-align: left;
}

.skills {
  text-align: left;
}

/* ==============================
Logotype
================================= */
.logo {
  max-width: 48px;
}

/* ==============================
Navigation
================================= */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fca311;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  padding-right: 0;
  max-width: 38px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ==============================
Short cards
================================= */
.short-card>h5 {
  margin-bottom: 0;
  font-size: 12px;
}

.short-card>p {
  margin-top: 0;
  font-size: 12px;
}

/* ==============================
Animation
================================= */
@keyframes color-change {
  0% {
    fill: #ffe0ac;
  }

  50% {
    fill: #ffbe55;
  }

  100% {
    fill: #fca311;
  }
}

.circlebig {
  animation: 4s color-change infinite alternate linear;
}

.rectanglel {
  animation: 3s color-change infinite alternate linear;
}

.rectangles {
  animation: 1s color-change infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    color: #1f1f1f;
  }

  h1, h2, h3, h4 {
    line-height: 1.3em;
  }

  h1 {
    font-size: 2em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 700;
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
  }

  h4 {
    font-size: 0.5em;
    font-weight: 600;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    color: #1f1f1f;
  }

  h1, h2, h3, h4 {
    line-height: 1.5;
  }

  h1 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 700;
  }

  h4 {
    font-size: 0.75em;
    font-weight: 600;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #1f1f1f;
  }

  h1, h2, h3, h4 {
    line-height: 1.7;
  }

  h1 {
    font-size: 3em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 700;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
  }

  h4 {
    font-size: 1.5em;
    font-weight: 600;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
  }
}
