/*
Colors used:
Primary Color (Orange): #fca311;
Secondary Color (Balck): #1f1f1f;
Background Color (White): #fafafa;
*/
header {
  background-color: #1f1f1f;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 10px;
}

body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1f1f1f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #fca311;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #C48114;
}
a:hover,
a:focus {
  color: #fca311;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #C48114;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #fca311;
  color: #fafafa; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #C48114; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;

}
.button.contact {
  background-color: transparent;
  color: #fca311;
  text-transform: uppercase;
  border: 2px solid #fca311;
}
.button.contact:hover {
  background-color: #fca311;
  color: #fafafa;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
