/*
Colors used:
Primary Color (Blue): #fca311;
Secondary Color (Balck): #1f1f1f;
Background Color (White): #fafafa;
*/
body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1f1f1f;
}
